@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html{
  height: 100%;
  overflow-x: hidden;
  
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.navbar{
  position: fixed;
  background-color: transparent;
  border-bottom: 0.5px solid #ffffff60;
  width: 100%;
  padding: 10px 0 0 0 ;
  top: 0;
  z-index: 100;
  line-height: 50px;
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 80px;
}
.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo i{
  font-size: 45px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  padding-top: 10px;
}
.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 35px;
  display: inline-block;
}
.navbar-menu a:hover{
  color: #d49c00;
  font-weight: 700;
}
#home{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
#home .content{
  color: #fff;
  padding-left: 40px;
  text-align: left;
  width: 600px;
}
.content h1{
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 6px;
  margin-bottom: 20px;
  font-family: 'Raleway',sans-serif;
}
.content p{
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: 'Raleway',sans-serif;
}
.content button{
  padding: 15px 25px;
  margin-top: 20px;
  background: #d49c00;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: 'Raleway',sans-serif;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
#home .content button:hover{
  background-color: #fff;
  color: #000;
  font-weight: 900;
}
.social-container{
  position: absolute;
  right: 40px;
  bottom: 30%;
}
.social-icons{
  list-style: none;
}
.social-icons li{
  margin: 35px 0;
}
.social-icons li i{
  color: #fff;
  font-size: 20px;
}
.social-icons li a:hover i{
transform: scale(1.5);
color: #d49c00;
transition: all .2s ease-in-out;
}

/* CONTACT FORM */
form{
  width: 60vw;
  max-width: 800px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

form .form_row{
  width: 100%;
  position: relative;
}

.form_row input{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid 1px lightblue;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.form_row label{
  position:absolute
  bottom 2px;
  left:2px;
  color: red;
  font-size: 14px;
  transition: 0.5s;
}

input:focus ~ label{
  top: 5px;
  font-size: 10px;
  color: darkblue;
}

textarea{
  width: 100%;
  height: 30px;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid lightblue;
  outline: none;
  appearance: none;
  resize: none;
}

textarea::placeholder{
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

form button{
  background-color:darkblue;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: lightblue;
  cursor: pointer;
  width: 60%;
  margin: 5px;
}

form button:active{
  transform: scale(0.99);
}

/* FOOTER */
footer{
  background-color: orange;
}

.footer_count{
  width: 60%;
  margin: auto;
}

.footer_count p{
  color: darkblue;
}

.footer_count .fab{
  color: lightblue;
  font-size: 20px;
  margin: 0 10px;
}






































    
    